/* ==========Formato de la pagina================== */
:root{
    --blanco: #ffffff;
    --negro: #606060;
    --primario: rgb(51, 134, 118);
    --secundario: #d4d4d4;
    --terciario: #e6e6e6;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-size: 5vh;
    text-align: center;
    color: var(--negro);    
}

p{
  color: var(--negro);
}

.titulo{
  color: var(--negro);
  padding: 2rem;
}

.hidden{
    display: none;
}
/* barra de navegacion */

.navbar {
    position: fixed;
    background-color: var(--secundario);
    height: 6rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    z-index: 100;  
}

.navbar img{
    height: 4rem;
    padding: 1rem;
}

.navbar a{
    display: block;
    padding: 2rem 2rem;
    color: var(--negro);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
    justify-content: center;
}

/*Ajuste para cualquier pantalla*/
@media (min-width: 750px) {
    .navbar-telefono{
        display: none;
    }
    .navbar a:hover{
        display: block;
        background-color: var(--primario);
        color:var(--negro);
        height: 3rem;
    }
    
}

/*Ajuste para tamanio de telefono*/
@media (max-width: 750px) {
    .navbar{
        display: none;
    }

    .menu{
        display: block;
        padding: 2rem 2rem;
        background-color: var(--secundario);
        overflow: hidden;
    }
    
    .menu p{
        text-transform: uppercase;
        color: var(--negro);
        font-size: 2rem;
    }
    
    .menu i{
        color: var(--negro);
        float: left;
        padding-right: 1rem;
    }


    .navbar-telefono{
        position: absolute;
        width: 100%;
    }

    .navbar-telefono ul li{
        display: block;
        padding: 1rem 5rem;
        background-color: var(--terciario);
        width: 20rem;
    }

    .navbar-telefono ul li:hover{
        background-color: var(--negro);
    }
    
    .navbar-telefono ul li a{
        color: var(--negro);

    }

}

/* presentacion */
.presentacion{
    padding-top: 5rem;
    background: linear-gradient(rgba(0,0,0,.5)0%, rgba(0,0,0,.5)100%), url(img/calavera.jpg) no-repeat;
    background-attachment:scroll;
    background-size: cover;
    text-align: center;
    justify-content: center;
}

.presentacion .logo{
    height: 15rem;
    padding: 2rem;
}

.presentacion .titulo{
    margin-bottom: 2rem;
    color: var(--blanco);
    font-size: 6rem;
    background-color: var(--primario);
    opacity: .9;
}

.presentacion #texto-inferior{
    color: var(--blanco);
    text-shadow: 4px 4px 5px var(--negro);
    font-size: 2.5rem;
    padding-bottom: 2rem;
}



/*Redes sociales*/
/*redes general*/  

.redes{
    background-color: var(--secundario);
    color:var(--blanco);
    padding: 2rem;
}

.redes .logos-redes{
    background: var(--primario);
    border-radius: 50%;
    width: 4rem;
    font-size:4rem;
    padding: 2rem;
    margin: .5rem;
    color: var(--blanco);
}

.redes .logos-redes:hover{
    animation: jello-horizontal 1s;
}
.redes .telefono{
    padding: 2rem;
    display: block;
    text-align: center;
}

@media (min-width: 650px) {
    .redes .telefono{
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1rem;
        text-align: center;
    }    
    
}

/* ==================================productos==================================== */
.productos{
    background-color: var(--terciario);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.productos .titulo{
    color:var(--negro);
    padding: 2rem;
}

.fotos{
height: 200px;
}

@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
  
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .carousel {
    margin: 0 auto ;
    position: relative;
    padding-top: 50%;
    width: 80%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
  }
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: #f99;
    counter-increment: item;
  }
  
  .carousel__slide:nth-child(even) {
    background-color: #99f;
  }
  
  .carousel__slide:before {
    content: counter(item);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
  }
  
  .carousel__snapper {
    position: absolute;
    top: 1rem;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  
  .carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--primario);
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }
  
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }
  
  .carousel::before,
  .carousel__prev {
    left: -1rem;
  }
  
  .carousel::after,
  .carousel__next {
    right: -1rem;
  }
  
  .carousel::before,
  .carousel::after {
    content: '';
    z-index: 1;
    background-color: var(--primario);
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  }
  
  .carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
  }
  
  .carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
  }
/*=======================Inicio======================*/

.inicio{
    background-color: var(--secundario);
    color: var(--blanco);
    font-size:3vh;
    padding: 5rem;
}
/* =================================Ubicacion================================== */
.ubicacion{
  background-color: var(--terciario);
  padding: 2rem;
}

.ubicacion .ubi iframe{
    width: 80%;
    display: flex;
    margin: 0 auto;
    padding: 2rem;
}

/* ===========================================Animaciones============================================ */

/* ----------------------------------------------
Generated by AnimatiSS
Licensed under FreeBSD License
URL: https://xsgames.co/animatiss
Twitter: @xsgames_
---------------------------------------------- */

 @keyframes jello-horizontal
 {0%{transform:scale3d(1,1,1)}
 30%{transform:scale3d(1.25,.75,1)}
 40%{transform:scale3d(.75,1.25,1)}
 50%{transform:scale3d(1.15,.85,1)}
 65%{transform:scale3d(.95,1.05,1)}
 75%{transform:scale3d(1.05,.95,1)}
 100%{transform:scale3d(1,1,1)}
}