:root{
    --blanco: #ffffff;
    --negro: #000000;
    --primario: rgb(51, 134, 118);
    --secundario: #2b2b2b;
    --terciario: #313131;

}

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
/* ==========Formato de la pagina================== */

/* ==================Ajuste para pantalla de computadora============== */
@media (min-width: 750px) {
    .navbar-telefono{
        display: none;
    }
    .navbar {
        background-color: var(--secundario);
        height: 6rem;
        display: flex;
        justify-content: space-between;
        padding: 0 30rem;
    }
    
    .navbar img{
        height: 4rem;
        padding: 1rem;
    }
    
    .navbar a{
        display: block;
        padding: 2rem 2rem;
        color: var(--blanco);
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.5rem;
        justify-content: center;
    }
    
    .navbar a:hover{
        display: block;
        background-color: var(--primario);
        color:var(--negro);
        height: 3rem;
    }
}

/* ==================Ajuste para tamanio de tableta============ */
@media (max-width: 750px) {
    .menu{
        display: block;
        padding: 2rem 2rem;
        background-color: var(--secundario);
        overflow: hidden;
    }

    .menu p{
        text-transform: uppercase;
        color: var(--blanco);
        font-size: 2rem;
    }

    .menu i{
        color: var(--blanco);
        float: right;
    }

    .navbar{
        display: none;
    }

    .navbar-telefono ul li{
        display: none;
        background-color: var(--secundario);
    }
    
    .navbar-telefono ul li a{
        color: var(--blanco);

    }

    .navbar-telefono:hover ul li{
        display: block;
        padding-left:5rem;
        font-size: 2rem;
        background-color: var(--terciario);
    }

}

.presentacion{
    background: url(img/hilos.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    justify-content: center;
}

#texto-superior{
    color:var(--blanco);
    font-size: 2.5rem;
    padding: 2rem 2rem;
    text-shadow: 4px 4px 5px var(--negro);
}

.presentacion .logo{
    height: 15rem;
    padding: 0 2rem 2rem 2rem;
}

.presentacion .titulo{
    margin-bottom: 2rem;
    color: var(--blanco);
    font-size: 6rem;
    background-color: var(--primario);
    opacity: .9;
    text-shadow: 2px 2px 3px var(--negro);
}

.presentacion #texto-inferior{
    color: var(--blanco);
    text-shadow: 4px 4px 5px var(--negro);
    font-size: 2.5rem;
}