:root{
    --blanco: #ffffff;
    --negro: #000000;
    --primario: rgb(51, 134, 118);
    --secundario: #2b2b2b;
    --terciario: #313131;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-size: 5vh;
    text-align: center;
}
/* ==========Formato de la pagina================== */

/* ==================Ajuste para pantalla de computadora============== */
@media (min-width: 750px) {
    .navbar-telefono{
        display: none;
    }

    .navbar {
        position: fixed;
        background-color: var(--secundario);
        height: 6rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        
        justify-content: space-between;
        padding: 0 0;
        z-index: 100;  
    }
    
    .navbar img{
        height: 4rem;
        padding: 1rem;
    }
    
    .navbar a{
        display: block;
        padding: 2rem 2rem;
        color: var(--blanco);
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.2em;
        justify-content: center;
    }
    
    .navbar a:hover{
        display: block;
        background-color: var(--primario);
        color:var(--negro);
        height: 3rem;
    }
}

/* ==================Ajuste para tamanio de tableta============ */
@media (max-width: 750px) {
    .menu{
        display: block;
        padding: 2rem 2rem;
        background-color: var(--secundario);
        overflow: hidden;
    }

    .menu p{
        text-transform: uppercase;
        color: var(--blanco);
        font-size: 2rem;
    }

    .menu i{
        color: var(--blanco);
        float: right;
    }

    .navbar{
        display: none;
    }

    .navbar-telefono ul li{
        display: none;
        background-color: var(--secundario);
    }
    
    .navbar-telefono ul li a{
        color: var(--blanco);

    }

    .navbar-telefono:hover ul li{
        display: block;
        padding-left:5rem;
        font-size: 2rem;
        background-color: var(--terciario);
    }

}
.presentacion{
    padding-top: 5rem;
    background: linear-gradient(rgba(0,0,0,.5)0%, rgba(0,0,0,.5)100%), url(img/calavera.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    justify-content: center;
}

.presentacion .logo{
    height: 15rem;
    padding: 2rem;
}

.presentacion .titulo{
    margin-bottom: 2rem;
    color: var(--blanco);
    font-size: 6rem;
    background-color: var(--primario);
    opacity: .9;
}

.presentacion #texto-inferior{
    color: var(--blanco);
    text-shadow: 4px 4px 5px var(--negro);
    font-size: 2.5rem;
    padding-bottom: 2rem;
}



/* ===================Redes sociales======================== */

.redes{
    padding: 3rem;
    background: var(--terciario);
}

.redes .titulo-redes{
    padding: 2rem;
    color: var(--blanco)
}
.box-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    padding: 2rem 15rem;
}

.redes .telefono{
    display: none;
}

/* ======================tamanio telefono===================== */
@media (max-width: 800px) {
    .redes .mediano-grande{
        display: none;
    }
    
    .redes .telefono{
        display: block;
        text-align: center;
    }
    
    .redes .telefono .logos-redes{
        color:var(--primario);
        background-color: var(--negro);
        font-size: 2em;
        padding: .5em;
        margin: .5em;
        border-radius: 20%;
    }
}
.box{
    padding: 1rem;
    margin: 1rem;
    width: 15rem;
    height: 15rem;
    border-radius: 20%;
    background-color: var(--negro);
    color: var(--blanco);
    box-shadow: 1px 4px 8px var(--negro);
}

.box .logos-redes{
    padding: 1rem;
    font-size: 5rem;
    color: var(--primario);
    text-align: center;
}

.box .logos-redes:hover{
    animation:jello-horizontal .9s linear both
}

.box #gmail{
    font-size: 1rem;
}

.redes p{
    padding-top: 1rem;
}
/* ==================================productos==================================== */

.productos{
    background-color: var(--negro);
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.fotos{
height: 200px;
}

.productos .titulo{
    color:var(--blanco);
    padding: 2rem;
    background: var(--primario);
}
/*=======================Inicio======================*/

.inicio{
    background-color: var(--secundario);
    color: var(--blanco);
    font-size:3vh;
    padding: 5rem;
}

#inicio{
    color: var(--blanco);
    padding: 2rem;
}
/* =================================Ubicacion================================== */
.ubicacion .ubi iframe{
    width: 100%;
}
.ubicacion h2{
    text-align: center;
    width: 100%;
}

/* ===========================================Animaciones============================================ */

/* ----------------------------------------------
Generated by AnimatiSS
Licensed under FreeBSD License
URL: https://xsgames.co/animatiss
Twitter: @xsgames_
---------------------------------------------- */

 @keyframes jello-horizontal
 {0%{transform:scale3d(1,1,1)}
 30%{transform:scale3d(1.25,.75,1)}
 40%{transform:scale3d(.75,1.25,1)}
 50%{transform:scale3d(1.15,.85,1)}
 65%{transform:scale3d(.95,1.05,1)}
 75%{transform:scale3d(1.05,.95,1)}
 100%{transform:scale3d(1,1,1)}
}